.pc-home-values-editor {
  .pc-home-values__item {
    padding-top: 35px;
  }

  .pc-home-values__icon-preview {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    cursor: pointer;

    img {
      max-width: 35px;
      max-height: 35px;
    }
  }

  .pc-placeholder-plus {
    color: #fff;
    font-size: 24px;
  }

  .pc-home-values__content-box {
    pointer-events: all;
  }
}
